.container{
    flex: 1;
    overflow: scroll;
}
.container input {
    border: 10px solid black;
    width: 20%;
    height: 30px;
}
.products-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    height: 800px;
}
.product {
    border: 3px solid black;
    width: 300px;
    height: auto;
}
.image {
    width: 200px;
    height: 200px;
}
